.ContentUploadContainer {
  width: 94%;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.ContentUploadContainer .contentUploadText .contentWritingpart {
  width: 29pc;
  margin-left: 10px;
  margin-top: 5px;
  height: 4vh;
  border: none;
}

.ContentUploadContainer .contentUploadText {
  display: flex;
  align-items: center;
  padding: 10;
}

.ContentUploadContainer .contentUploadText img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 20px;
}

.icons {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 49px;
}

.PostIcons {
  width: 24px;
  height: 24px;
}

.ContentUploadContainer .buttonContainer {
  margin-left: 10px;
}

.ContentUploadContainer .buttonContainer .btnWrap {
  display: flex;
  justify-content: space-between;
}

.ContentUploadContainer .buttonContainer .btnWrap .btnWrapper {
  margin-bottom: 10px;
}

.ContentUploadContainer .buttonContainer .btnIcons {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 45px;
  margin-bottom: 20px;
  cursor: pointer;
}